/**
 * function: 用于重写默认颜色常量，或者设置新的 stylus 颜色常量，或者对默认预设的样式进行简单的替换，或者定义一些变量供以后使用
 * warning：你应该只在这个文件中定义变量。因为 palette.styl 将在根的 stylus 配置文件的末尾引入，作为配置，它将被多个文件使用，所以一旦你在这里写了样式，你的样式就会被多次复制。
 */

// // 可以调整的一些变量如下
// // (1) 颜色
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // (2) 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px

// // (3) 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px